<launch>
<!-- Launch 2 Arduino boards -->
        <!-- Launch stockfishscript.py -->
    <node name="stockfish" pkg="ChessBot" type="stockfishscript.py" output="screen" />
    <node name="gantry" pkg="ChessBot" type="gantrymovement.py" output="screen" />
  <node name="R4" pkg="rosserial_python" type="serial_node.py" output="screen">
    <param name="port" value="/dev/serial/by-id/usb-Arduino__www.arduino.cc__0042_559363430343515092B1-if00" />
     <!-- Adjust baud rate as necessary -->
  </node>
    <!-- Launch testmovedetect.py -->
    <node name="movedetect" pkg="ChessBot" type="movedetection.py" output="screen" />
      <node name="Mega" pkg="rosserial_python" type="serial_node.py" output="screen">
    <param name="port" value="/dev/serial/by-id/usb-Arduino_Giga_004D003E3033510734323437-if00" />
    <param name="baud" value="115200" /> <!-- Adjust baud rate as necessary -->
  </node>
    <node name="Giga" pkg="rosserial_python" type="serial_node.py" output="screen">
    <param name="port" value="/dev/serial/by-id/usb-Arduino_UNO_R4_Minima_310E1A3158313137329B33324B572D8E-if00" />
    <param name="baud" value="115200" /> <!-- Adjust baud rate as necessary -->
  </node>




  <!-- Launch the rosserial node for the R4 device -->

  
</launch>

